@charset "utf-8";

*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: 'Courier New', Courier, monospace;
}

img{
    width: 100vw;
}

::-webkit-scrollbar{
    width: 0%;
    height: 0%;
}

a{
    display: block;
    background-color: red;
    text-decoration: none;
    text-align: center;
    font-weight: bolder;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

a:hover{
    background-color: rgba(255, 0, 0, 0.692);
    text-decoration: underline;
}